<div class="bowling-page-container">
  <div class="card">
    <div class="card-body">
      <h3 class="meta-data">Bowling Score Card</h3>
      <h4 class="meta-data" [ngClass]="{'game-over': (frames.length + 1) > totalFrames}">
        {{(frames.length + 1) <= totalFrames ? 'Frame: ' + (frames.length + 1) : 'Game Over'}}</h4>
    </div>
  </div>
    <app-pin [totalPins]="totalPins" (shot)="onShot($event)"
              #pinComponent></app-pin>
  <div id="new-game" *ngIf="(frames && frames.length + 1) > totalFrames">
    <button type="button" (click)="newGame()">Start New Game</button>
  </div>

    <app-score-board [frames]="frames" [frameScores]="scored.frameScores"
                     [totalScore]="scored.totalScore"></app-score-board>
</div>


