<div *ngIf="frames.length > 0">
  <span>Total Score: {{totalScore}}</span>
  <table border="1">
    <thead>
    <tr>
      <th>Frame</th>
      <th>Roll</th>
      <th>Pins</th>
      <th>Frame Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let frame of (frames | frameFormat : frameScores)">
      <td>{{frame.frameNumber}}</td>
      <td>{{frame.roll}}</td>
      <td>{{frame.pinsHit}}</td>
      <td>{{frame.totalScore == null ? '' : frame.totalScore}}</td>
    </tr>
    </tbody>
  </table>
</div>


