<div *ngIf="frames && frames.length > 0" class="score-board-container">
  <div><h3 id="total-score">Total Score: {{totalScore}}</h3></div>
  <table id="score-board">
    <thead>
    <tr>
      <th>Frame</th>
      <th>Roll</th>
      <th>Pins</th>
      <th>Frame Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let frame of (frames | frameFormat : frameScores)">
      <td>{{frame.frameNumber}}</td>
      <td>{{frame.roll}}</td>
      <td>{{frame.pinsHit}}</td>
      <td>{{frame.totalScore == null ? '' : frame.totalScore}}</td>
    </tr>
    </tbody>
  </table>
</div>


