.score-board-container {
  margin: 0 10px 0 10px;
}

#score-board {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;

  td, th {
    border: 1px solid rgba(221, 221, 221);
    padding: 2px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: rgba(242, 242, 242);
  }

  tr:hover {
    background-color: rgba(221, 221, 221);
  }

  th {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(5, 73, 81, 0.7);
    color: white;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }
}

#total-score {
  margin: 10px 0 10px 0;
  text-align: center;
}

